* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: gray;
  color: white;
}

#border-headbox {
  padding: 10px;
  margin: 1px;
}

#profile-picture {
  border-radius: 50%;
  width: 18vw;
}

.backgroundImgSettings {
  position: absolute;
  z-index: -1;
}
.separatorLine {
  width: 100%;
  height: 2px; /* Ajusta la altura según tus necesidades */
  background: linear-gradient(to right, transparent, #00ffff, transparent);
}

#linkStyle {
  color: inherit;
  text-decoration: inherit;
}
.contact {
  font-size: 18px;
}

.experienceSizeText {
  font-size: 14px;
  font-weight: 600;
}
.educationSizeText {
  font-size: 14px;
  font-weight: 600;
}

.separatorLineBlockSize {
  width: 100%;
}

imgCarouselSettings {
  width: 520px;
  height: 520px;
}
