* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: gray;
  color: white;
}

#border-headbox {
  padding: 10px;
  margin: 1px;
}

#profile-picture {
  border-radius: 50%;
  width: 18vw;
}

.backgroundImgSettings {
  position: absolute;
  z-index: -1;
}
.separatorLine {
  border-color: solid #00ffff;
  border-top: 5px transparent;
  border-right: 1980px solid #00ffff;
  border-bottom: 5px solid transparent;
}
#linkStyle {
  color: inherit;
  text-decoration: inherit;
}
.contact {
  font-size: 18px;
}

.experienceSizeText {
  font-size: 14px;
  font-weight: 600;
}
.educationSizeText {
  font-size: 14px;
  font-weight: 600;
}
